/* Add */
.card__add {
  /* background: #DE3963; */
  display: flex;
  position: relative;

  margin-top: 5px;
}
.card__add input {
  width: 100%;
  height: 40px;
  /* float: left; */
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  /* padding: 0 60px 0 0; */
  background: rgba(222, 57, 99, 0.6);
  /* border-radius: 3px; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0px;
  box-shadow: none;
  outline: none;
}

.card__add input::placeholder {
  color: #fff;
}

.card__add button {
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  /* width: 40px;
        height: 40px; */
  box-shadow: 0 0 0 2px rgba(222, 57, 99);
  cursor: pointer;
  outline: none;
}
.card__add i {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #fff;
  line-height: 40px;
  color: #de3963;
}
