.todo-item {
  #selected[type="checkbox"]:checked ~ .icon-check {
    background: #25b99a;
  }
  #selected[type="checkbox"]:checked ~ .icon-check::before {
    opacity: 1;
    visibility: visible;
  }
  .icon-check {
    user-select: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 1px solid #25b99a;
    transition: all 0.3s;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 45%;
      width: 8px;
      height: 4px;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
  }
  .item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    min-height: 30px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #444;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px rgba(44, 62, 80, 0.3);
    word-break: break-word;
    .right,
    .left {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    .left {
      flex: 1;
    }
    .title {
      user-select: none;
      width: 100%;
      font-size: 15px;
      transition: all ease 0.5s;
    }
    .title.del {
      font-size: 13px;
      text-decoration: line-through;
      color: #aaa;
      transition: all ease 0.5s;
    }
    .edit-input {
      padding-inline: 30px;
      width: 100%;
      outline: none;
      border: none;
    }
    .edit-form {
      width: 100%;
    }
    .buttons.show {
      opacity: 1;
      visibility: visible;
    }
    .buttons {
      opacity: 0;
      visibility: hidden;
      color: #aaa;
      cursor: pointer;
      transition: all linear 0.3s;
    }
    u.buttons.complete {
      color: #25b99a;
    }
    .buttons.remove:hover {
      color: #fa396b;
    }
    .buttons.edit:hover {
      color: #2f80ed;
    }
  }
}
