.todo-footer {
  margin-block: 30px 10px;
  .footer-content {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #d8e5e0;

      top: -10px;
      left: 0;
    }
  }
  .footer-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item-count {
    font-size: 13px;
  }
  .filter-group {
    display: flex;
    align-items: center;
  }
  .filter-btn {
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  .filter-btn.active {
    border-color: #fa396b;
    background: #fff;
  }
  .clear-btn {
    font-size: 12px;
    font-weight: 500;
    padding-inline: 10px;
    background-color: #fa396b;
    color: #fff;
    border-radius: 8px;
  }
  .clear-btn:disabled {
    pointer-events: none;
    user-select: none;
    background: rgba(222, 57, 99, 0.6);
  }
}
